* {
  font-family: "Rubik";
}

.bgImg {
  background-image: url("C:/SF.Code/My-Project/iptracker/src/pattern-bg.png");
  background-size: cover;
}

.btn-style {
  background-color: hsl(0, 0%, 17%);
  border: 0px;
  padding: 4px;
  border-bottom-right-radius: 8px !important;
  border-top-right-radius: 8px !important;
  cursor: pointer;
}

.img {
  height: 7px;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

.input-style {
  width: 35%;
  border-bottom-left-radius: 8px !important;
  border-top-left-radius: 8px !important;
  border: 0px;
  height: 22px;
}

.leaflet-container {
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.info-style {
  display: flex;
  margin: 15px;
}

.address-style {
  font-size: 6px;
  padding-left: 2px;
  padding-right: 40px;
  border-right: 0.5px solid rgba(0, 0, 0, 0.5);
}

.location-style {
  padding-left: 15px;
  padding-right: 35px;
  border-right: 0.5px solid rgba(0, 0, 0, 0.5);
  font-size: 6px;
}

.timezone-style {
  padding-left: 15px;
  padding-right: 30px;
  border-right: 0.5px solid rgba(0, 0, 0, 0.5);
  font-size: 6px;
}

.isp-style {
  padding-left: 15px;
  padding-right: 60px;
  font-size: 6px;
}

::placeholder {
  font-size: 9px;
  padding-left: 8px;
}
